/* Main Stylesheet
 *
 * Colors:
 *
 * Blue  -
 * Green -
 * Red   -
 *
 *
 *
 *
 */

@import 'https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans|Open+Sans+Condensed:300';
/*@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300';*/

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}
