<!DOCTYPE html>
<html>
  <head>
    <title>Recourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="holy-grail">
      <header></header>
      <div class="holy-grail-body">
        <main class="holy-grail-content">
          <%= yield %>
        </main>
        <nav class="holy-grail-nav">
        </nav>
        <aside class="holy-grail-ads">
        </aside>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
