<!DOCTYPE html>
<html>
  <head>
    <title>Recourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="holy-grail">
      <header>
        <ul class="nav-right">
          <li class="nav-logo"><h3><a href="/">Recourse</a></h3></li>
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav-left"></ul>
      </header>
      <div class="holy-grail-body">
        <main class="holy-grail-content">
          <%= yield %>
        </main>
        <nav class="holy-grail-nav">
        </nav>
        <aside class="holy-grail-ads">
        </aside>
      </div>
      <footer>FOOTER CONTENT</footer>
    </div>
  </body>
</html>
